<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.spring.amigo.web.mapper.BoardMapper">

    <!--공지사항 전체 글 조회 (첫 로드 시)-->
   <select id="getBoardList"
           resultType="com.spring.amigo.model.BoardVO">

        SELECT board_idx
             , board_title
             , read_count
             , notice_flag
             , insert_user
             , insert_time
             , insert_ip
        FROM amigo_board
        where 1=1

    </select>

    <select id="getListCount"
            resultType="java.lang.String">
        SELECT Count(*)
        FROM amigo_board
    </select>

    <select id="getBoardListWithPaging"
            parameterType="java.util.HashMap"
            resultType="com.spring.amigo.model.BoardVO">

        SELECT *
        FROM (
                 SELECT ROWNUM
                      , board_idx
                      , board_title
                      , read_count
                      , notice_flag
                      , insert_user
                      , insert_time
                      , insert_ip
                 FROM amigo_board
             ) a
        WHERE 1=1
          AND ROWNUM between #{pagination.startIndex} AND #{pagination.endIndex}
          AND a.board_title like #{SEARCH_WORD}
        order by board_idx asc
    </select>

</mapper>