<html lang="en"  xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:fragment="mainHead">
    <!--//Meta Data-->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>

  <!--  //기본적인 html head 추가부-->
    <th:block layout:fragment="top_nav"></th:block>
    <th:block th:replace="nav/topNav :: top_nav" />

    <th:block layout:fragment="side_nav"></th:block>
    <th:block th:replace="nav/sideNav :: side_nav" />
   <!-- <link rel="stylesheet" th:href="@{/res/bootstrap/bootstrap-3.3.2-dist/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/res/bootstrap/bootstrap-3.3.2-dist/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/res/bootstrap/bootstrap-3.3.2-dist/css/bootstrap-theme.css}">
    <link rel="stylesheet" th:href="@{/res/bootstrap/bootstrap-3.3.2-dist/css/bootstrap-theme.min.css}">-->
   <!-- <script  type="text/javascript" src="/res/bootstrap/bootstrap-3.3.2-dist/js/bootstrap.js" />-->
    <!--<script src="res/bootstrap/bootstrap-3.3.2-dist/js/npm.js" />-->

    <!--jQuery-->
    <script src="https://code.jquery.com/jquery-2.2.4.js" integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI=" crossorigin="anonymous"></script>
    <!-- 합쳐지고 최소화된 최신 CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

    <!-- 부가적인 테마 -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

    <!-- 합쳐지고 최소화된 최신 자바스크립트 -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>






</head>


</html>